<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Github Search</span>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username"  [(ngModel)]="username" name="username" (keyup.enter)="findProfile()" >
      <input type="number" class="form-control" placeholder="Number of Repos You Want to get in one Page"  [(ngModel)]="noOfRepo" name="noOfRepo" (keyup.enter)="findProfile" >
    </div>
  </form>
</nav>

<div *ngIf="noProfileFound===2">
<h1>No Profile Found</h1>
</div>

<div>
  <div *ngIf="profile">
    <div class="col-sm-10">
        <div class="profileImg">
              <div >
                  <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
              </div>
        </div>
        <div class="profileName">
          <h1>{{profile.name}}</h1> <br>
          <div class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</div>
          <div class="list-group-item" *ngIf="profile.company">Works at: {{profile.company}}</div>
          <div class="list-group-item" *ngIf="profile.location"><img src="Images/location.jpg" alt="">{{profile.location}}</div>
          <div class="profileBtn">
              <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          </div>
        </div>
    </div>

    
    <div class=centre>
        <div class="panel-body" *ngFor="let repo of repos;let i = index">
           <p class="clearfix">
               <strong>{{repo.name}}</strong> 
           </p>
            <p>{{repo.description}}</p>
            
              <p >
                <span class="badge rounded-pill bg-info text-dark" *ngFor="let item of tags[i]">{{item}}</span>
              </p>
          
            
            <p>
              <span class="badge bg-secondary"></span>
            </p>
            <p>
              <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View on github</a>
            </p>
            <hr style="width:60%;height: 0.5mm">
        </div>
     </div>
   
     <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li>
          <a class="page-link" href="#" (click)="getRepoPaginated(pageNumber-1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let number of totalPages; let i = index;">
          <a class="page-link" href="#" (click)="getRepoPaginated(number)">{{number}}</a>
        </li>
        <li>
          <a class="page-link" href="#" (click)="getRepoPaginated(pageNumber+1)">Next</a>
        </li>
      </ul>
      </nav>

</div>


</div>

 