/*.body {
  background: rgb(237, 235, 75);
  background: linear-gradient(
    90deg,
    rgba(237, 235, 75, 1) 10%,
    rgba(45, 164, 78, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}*/
.profile {
  background-color: gainsboro;
}
.img-circle {
  width: 6cm;
  height: 6cm;
  margin-top: 1.5cm;
  display: flex;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}
.profileName {
  padding-left: 9cm;
  padding-top: 1.5cm;
}
.details {
  padding-left: 8.85;
}
.profileBtn {
  padding-top: 0.2cm;
}
.centre {
  padding-left: 9cm;
  padding-right: 5.7cm;
  padding-top: 1.4cm;
  align-self: center;
}
.card {
  padding-left: 0.5cm;
}
.pagination {
  align-self: center;
}
