.profile {
  background-color: gainsboro;
}
.img-circle {
  width: 6cm;
  height: 6cm;
  margin-top: 1.5cm;
  display: flex;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}
.profileName {
  padding-top: 1.7cm;
  padding-left: 9cm;
}
.details {
  padding-left: 8.85;
}
.profileBtn {
  padding-top: 0.2cm;
}
.centre {
  padding-left: 8cm;
  padding-top: 1.4cm;
  align-self: center;
}
.pagination {
  align-self: center;
}
